#current-weather {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  border: solid;
  border-width: 0 0 1px 1px;
  border-bottom-left-radius: 10px;
}

#forecast {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
}

.fore-card {
  background-color: rgb(43, 132, 248);
  padding: 12px;
  margin: 12px;
  border-radius: 15px;
}
